.top-trapezoid, 
.top-left-edge, 
.top-right-edge, 
.bottom-outerl-triangle, 
.bottom-outerl-triangle .inside-bottom-left, 
.bottom-outerr-triangle, 
.bottom-outerr-triangle .inside-bottom-right, 
.bottom-innerl-triangle, 
.bottom-innerr-triangle, 
.trap-middle-triangle, 
.trap-middle-triangle .inner-midleft-triangle, 
.trap-middle-triangle .inner-midright-triangle, 
.girdle, 
.bottom-large-triangle, 
.bottom-mainmid-triangle, 
.bottom-mainmid-triangle .mainmid-right, 
.bottom-left-triangle-out, 
.bottom-left-triangle-out .bottom-left-triangle-in, 
.bottom-right-triangle-out, 
.bottom-right-triangle-out .bottom-right-triangle-in, 
.bottom-midleft-triangle, 
.bottom-midright-triangle {
  position: absolute;
}

body {
  background: grey;
}

.box {
  position: relative;
  display: block;
  margin: auto;
  margin-top: 8%;
  height: 400px;
  width: 620px;
  background: grey;
}

.top-trapezoid {
  width: 80%;
  height: 20%;
  left: 10%;
  top: 14.5%;
  background: #9ac5db;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  z-index: 1;
}

.top-left-edge {
  height: 38%;
  width: 9.5%;
  left: 13%;
  background: #f1f7fb;
  transform: skew(-48deg);
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 0 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 0 100%, 0% 100%);
  z-index: 1;
}

.top-right-edge {
  height: 38%;
  width: 9.5%;
  right: 13%;
  background: #f1f7fb;
  transform: skew(48deg);
  -webkit-clip-path: polygon(0 0, 75% 0, 100% 100%, 100% 100%);
  clip-path: polygon(0 0, 75% 0, 100% 100%, 100% 100%);
}

.bottom-outerl-triangle {
  height: 73%;
  width: 13%;
  top: 27%;
  left: 1.5%;
  background: #b8d8e7;
  -webkit-clip-path: polygon(91% 0, 0% 100%, 100% 100%);
  clip-path: polygon(91% 0, 0% 100%, 100% 100%);
  transform: skew(-13deg);
}
.bottom-outerl-triangle .inside-bottom-left {
  height: 100%;
  width: 42%;
  left: 38%;
  background: #f1f7fb;
  -webkit-clip-path: polygon(9% 0, 0% 100%, 100% 100%);
  clip-path: polygon(9% 0, 0% 100%, 100% 100%);
  transform: skew(-44deg);
}

.bottom-outerr-triangle {
  height: 73%;
  width: 12%;
  top: 27%;
  right: 1.5%;
  background: #b8d8e7;
  -webkit-clip-path: polygon(9% 0, 0% 100%, 100% 100%);
  clip-path: polygon(9% 0, 0% 100%, 100% 100%);
  transform: skew(17deg);
}
.bottom-outerr-triangle .inside-bottom-right {
  height: 100%;
  width: 42%;
  right: 38%;
  background: #f1f7fb;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 91% 100%);
  clip-path: polygon(100% 0, 0% 100%, 91% 100%);
  transform: skew(44deg);
}

.bottom-innerl-triangle {
  height: 71%;
  width: 19%;
  left: 13%;
  top: 29%;
  background: #f1f7fb;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 95% 100%);
  clip-path: polygon(100% 0, 0% 100%, 95% 100%);
  transform: skew(-4deg);
}

.bottom-innerr-triangle {
  height: 71%;
  width: 19%;
  right: 13%;
  top: 29%;
  background: #f1f7fb;
  -webkit-clip-path: polygon(5% 0, 0% 100%, 100% 100%);
  clip-path: polygon(5% 0, 0% 100%, 100% 100%);
  transform: skew(10deg);
}

.trap-middle-triangle {
  background: #b8d8e7;
  height: 100%;
  width: 50%;
  left: 25%;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}
.trap-middle-triangle .inner-midleft-triangle {
  height: 30%;
  width: 50%;
  left: 0;
  background: #f1f7fb;
  -webkit-clip-path: polygon(30% 100%, 0 0, 100% 0);
  clip-path: polygon(30% 100%, 0 0, 100% 0);
}
.trap-middle-triangle .inner-midright-triangle {
  height: 30%;
  width: 50%;
  right: 0;
  background: #f1f7fb;
  -webkit-clip-path: polygon(75% 100%, 0 0, 100% 0);
  clip-path: polygon(75% 100%, 0 0, 100% 0);
}

.girdle {
  background: #9ebcff;
  height: 2%;
  width: 4%;
  left: 48%;
  top: 34%;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  z-index: 12;
}

.girdle:nth-child(1) {
  left: 38.9%;
}

.girdle:nth-child(2) {
  left: 32.9%;
}

.girdle:nth-child(3) {
  left: 12%;
}

.girdle:nth-child(4) {
  left: 18.5%;
}

.girdle:nth-child(5) {
  left: 63%;
}

.girdle:nth-child(6) {
  left: 78%;
}

.girdle:nth-child(7) {
  left: 84.2%;
}

.bottom-large-triangle {
  height: 60%;
  width: 80%;
  left: 10%;
  bottom: 5%;
  background: #9ac5db;
  -webkit-clip-path: polygon(100% 0, 50% 100%, 0 0);
  clip-path: polygon(100% 0, 50% 100%, 0 0);
  z-index: 1;
}

.bottom-mainmid-triangle {
  height: 100%;
  width: 38%;
  left: 31%;
  background: #b8d8e7;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}
.bottom-mainmid-triangle .mainmid-left {
  position: absolute;
  height: 80%;
  width: 50%;
  background: #f1f7fb;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}
.bottom-mainmid-triangle .mainmid-right {
  height: 80%;
  width: 50%;
  left: 50%;
  background: #f1f7fb;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  transform: skew(deg);
}

.bottom-left-triangle-out {
  height: 70%;
  width: 25%;
  left: 5%;
  background: #b8d8e7;
  -webkit-clip-path: polygon(100% 100%, 0 0, 50% 0);
  clip-path: polygon(100% 100%, 0 0, 50% 0);
  transform: skew(17deg);
}
.bottom-left-triangle-out .bottom-left-triangle-in {
  background: #f1f7fb;
  height: 95%;
  width: 35%;
  left: 30%;
  -webkit-clip-path: polygon(100% 100%, 0 0, 50% 0);
  clip-path: polygon(100% 100%, 0 0, 50% 0);
  transform: skew(25deg);
}

.bottom-right-triangle-out {
  height: 70%;
  width: 25%;
  right: 5%;
  background: #b8d8e7;
  -webkit-clip-path: polygon(0 100%, 50% 0, 100% 0);
  clip-path: polygon(0 100%, 50% 0, 100% 0);
  transform: skew(-17deg);
}
.bottom-right-triangle-out .bottom-right-triangle-in {
  background: #f1f7fb;
  height: 95%;
  width: 35%;
  right: 30%;
  -webkit-clip-path: polygon(0 100%, 50% 0, 100% 0);
  clip-path: polygon(0 100%, 50% 0, 100% 0);
  transform: skew(-25deg);
}

.bottom-midleft-triangle {
  background: #b8d8e7;
  height: 62%;
  width: 19%;
  left: 18%;
  -webkit-clip-path: polygon(100% 100%, 0 0, 100% 0);
  clip-path: polygon(100% 100%, 0 0, 100% 0);
  transform: skew(21.5deg);
}

.bottom-midright-triangle {
  background: #b8d8e7;
  height: 62%;
  width: 19%;
  right: 18%;
  -webkit-clip-path: polygon(0 100%, 0 0, 100% 0);
  clip-path: polygon(0 100%, 0 0, 100% 0);
  transform: skew(-21.5deg);
}

@media all and (max-width: 620px) {
  .box {
    margin-top: 100px;
    width: 270px;
    height: 195px;
  }
}
